.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 330px;
    flex-grow: 0;   
    flex-shrink: 0;
}

.imagem {
    width: 330px;
    height: 330px;
    object-fit: cover;
    z-index: 2;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.texto {
    position: absolute;
    top: 55px;
    left: 50%;
    width: 330px;  
    height: calc(100% - 55px); 
    min-height: 330px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px; 
    background: rgba(13, 23, 75, 0.95);
    color: white;
    border-radius: 16px; 
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.9); 
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
    z-index: 9999;
    font-size: 19px;
    line-height: 1.4;
}
.card:hover > .texto {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    visibility: visible;
}


banner {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.fundo {
    top: 0;
    left: 0;
    position: fixed;
    background-image: url("imagens_pietro/back2.webp");
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    transform: scale(1.05); 
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

header {
    position: relative;
    z-index: 2; 
    color: white;
    padding: 40px;
}
h1 {
    font-size: 4.5rem;
    text-align: center;
    background: linear-gradient(
        #ffffff 10%,
        #e5e7eb 45%,
        #d1d5db 60%,
        #ffffff 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 3px;
    font-weight: 900;
    text-shadow: 2px 8px 25px rgba(0, 0, 0, 0.9);
}


.timg{
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 0 6px 12px rgba(0, 0, 0, 1);
}
.intro{
    font-size: 22px;
    margin: 30px auto 0px auto;
    padding: 20px;
    background: rgba(13, 23, 75, 1);
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}

main {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;        
}

h4 {
    margin-bottom: 5px;
}

.card.destaque {
    width: 100%; 
    max-width: 1100px; 
    margin-top: 20px;
    margin-bottom: 60px;
}

.card.destaque .imagem {
    width: 100%;
    height: 460px;
    object-fit: cover;
    object-position: center 35%;
}

.card.destaque .texto {
    top: 54px;
    left: 50%;
    transform: translateX(-50%) scale(0.9);
    width: 100%;
    height: 460px;   
    font-size: 21px; 
    padding: 33px;  
}

.card.destaque:hover > .texto {
    transform: translateX(-50%) scale(1);
}

.card.duplo {
    width: 530px; 
}

.card.duplo .imagem {
    width: 530px;
    height: 320px;
    object-fit: cover;
}
.card.duplo .texto {
    top: 59px;
    left: 50%;
    transform: translateX(-50%) scale(0.9);
    width: 530px;  
    height: 320px; 
}

.card.duplo:hover > .texto {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
}

.topo-site {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(221, 228, 230);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 999999;                     
    transition: transform 0.3s ease;    
}

.topo-site.escondido {
    transform: translateY(-100%); 
}

.topo-caixa {
    width: 100%;
    max-width: 1400px; 
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-sizing: border-box;
    position: relative; 
}

.topo-logo {
    position: absolute;
    left: 40px;
    height: 45px;   
    width: auto;     
    object-fit: contain; 
    display: block;
}

.topo-links {
    display: flex;
    flex-direction: row; 
    list-style: none;
    gap: 35px;
    margin: 0;
    padding: 0;
}


.topo-links a {
    color: rgba(24, 33, 82, 0.7);
    font-size: 16px;
    font-weight: bold;
    transition: color 0.2s ease;
    display: block;
}


.topo-links a:hover,
.topo-links a.active {
    color: #071142;
}
